/* You can add global styles to this file, and also import other style files */
html body{
    margin: 0px;
}
/* .code-box {
    position: relative;
    display: inline-block;
    width: 100%;
    margin: 0 0 16px;
    background-color: #ffff;
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 6px;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    padding: 20px;
  } */
  
